<div class="test">
  <h2>
    <i class="fa fa-quote-left fa-1x pull-left"></i>It will be everywhere and the world will have to readjust. World governments will have to readjust.<i class="fa fa-quote-right fa-1x pull-right"></i>
    <h3>
      John McAfee, Founder of McAfee
    </h3>
    <hr>
  </h2>
</div>
<div class="test">
  <h2>
  <i class="fa fa-quote-left fa-1x pull-left"></i>Economists and journalists often get caught up in this question: Why does Bitcoin have value? And the answer is very easy. Because it is useful and scarce.<i class="fa fa-quote-right fa-1x pull-right"></i>
  <h3>
    Eric Voorhees, co-founder of the Bitcoin company Coinapult
  </h3>
  <hr>

  </h2>
<div class="test">
  <h2>
  <i class="fa fa-quote-left fa-1x pull-left"></i>I do think Bitcoin is the first [encrypted money] that has the potential to do something like change the world.<i class="fa fa-quote-right fa-1x pull-right"></i>
  <h3>
    Peter Thiel, Co-Founder of Paypal
  </h3>
  <hr>
</h2>
</div>
