<div class="panel panel-body">

    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <h1>Hi, <%= @user.name %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4><div class="test" id="quotesUSER">/</div></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
        <form action="/" >
          <button type="submit", class="btn btn-info btn-large"><i class=" fa fa-chevron-left"></i> Browse</button>
        </form>
      </div>
      </div>
    </div>

</div>
<% if @user.items.length == 0  %>
<div class="panel panel-body">
  <div class="well well-md hover ACC fly">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
    <h3>You haven't posted anything :( </h3>
    </form>
      <form action="/items/new" >
        <button class="btn btn-primary"><i class="fa fa-plus"></i> Post</button>
    </form>

  </div>
</div>
</div>
</div>
<% else %>
 <%= render '/layouts/items' %>
<% end %>
