/*


 *= require_self
  *= require rails_bootstrap_forms
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";


  /********************************
            Static Pages About
  ********************************/

  .test {
    text-align: center;
  }



  /********************************
            app.html
  ********************************/


  .ui.container {
    margin-top: 6vh;
  }


  .modal-dialog {
    padding-top: 28vh;
  }
  .modal-body{
      padding-top: 4vh;
      text-align: center;
  }


  #googleBTN {
    margin-bottom: 2vh;
  }

  #facebookBTN {
    margin-bottom: 2vh;
  }
