/*


 *= require_self
  *= require rails_bootstrap_forms
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";


  /********************************
            Static Pages About
  ********************************/

  .test {
    text-align: center;

  }

  .test h2 i, .test h2 {
    background-image: -webkit-linear-gradient(#337ab7, #209);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   z-index: 1;
  }



  .quotes{

  }


  /********************************
            app.html
  ********************************/
  *, *:before, *:after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }

body{
    background-color: #FEFDFC;
}

  .ui.container {
    margin-top: 6vh;
  }


  .modal-dialog {
    padding-top: 28vh;
  }
  .modal-body{
      padding-top: 4vh;
      text-align: center;
  }


  #googleBTN {
    margin-bottom: 2vh;
  }

  #facebookBTN {
    margin-bottom: 2vh;
  }

  .navbar-brand i{
    background-image: -webkit-linear-gradient(#F0E68C, #209);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:relative;
    font-size: 2em;
    top: .1em;
  }
  .navbar-brand {
    margin-top: -0.85em;
    padding-left: 3vw;
  }

  .nav.navbar-nav.navbar-right {
    padding-right: 1vw;
  }


  /********************************
            Category index
  ********************************/

  #categoryNAMES{
    text-align: center;
    position:relative;
  }
  #categoryNAMES:hover{
    cursor:pointer;
    text-align: center;
    -ms-transform: scale(1,1.1); /* IE 9 */
    -webkit-transform: scale(1,1.1); /* Safari */
    transform: scale(1,1.1);
    background-color: #E6E6EC;
    -webkit-transition: transform .2s ease-in;


  }

#categoryNAMES a{
  position:absolute;
   width:100%;
   height:100%;
   top:0;
   left:0;
   text-decoration:none; /* Makes sure the link   doesn't get underlined */
   z-index:10; /* raises anchor tag above everything else in div */
   background-color:white; /*workaround to make clickable in IE */
   opacity: 0; /*workaround to make clickable in IE */
   filter: alpha(opacity=1); /*workaround to make clickable in IE */
}
  .panel.panel-body{
    -moz-box-shadow:    inset 0 0 2px #000000;
    -webkit-box-shadow: inset 0 0 2px #000000;
    box-shadow:         inset 0 0 2px #000000;
  }

  .well{
    margin-bottom: 3px !important;
  }
  .well h1{
    background-image: -webkit-linear-gradient(#337ab7, #209);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   z-index: 1;
  }
