<% @items.each do |item| %>
<div class="well well-lg" id="categoryNAMES">
  <div class="row">
    <div class="col-xs-2 col-md-2 alignTOP">
          <i class="fa fa-angle-double-down fa-4x"></i>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-5"><h3><td><%= item.name %> (<%= item.length.format %>)</td></h3></div>
    <div class="col-xs-6 col-md-3 alignTOP"><h4><i><%#= item.city %></i>
    </h4></div>
      <%# price = item.price %>
    <div class="col-xs-2 col-md-2 alignTOP"><h5><%=     number_to_currency(price) %></h5></div>
    </div>
  <div class="panel panel-body"style="display:none;">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4"><h3><%#= item.description %></h3></div>
    </div>
  </div>
</div>
<% end %>
